[run]
branch = True
omit =
    venv/**
    conf/**
    */admin.py
    */apps.py
    */schemas.py
    */tests/**
    */migrations/**
    **/__init__.py
    helium/common/utils/metricutils.py
    helium/common/cache/locmemkeys.py

[report]
fail_under = 90
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    if settings\.DEBUG
    if settings\.DISABLE_EMAILS
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[xml]
output = build/coverage/coverage.xml

[html]
title = Helium Platform Coverage Report
directory = build/coverage