[run]
branch = True
source =
    helium
omit =
    */admin.py
    */apps.py
    */tests/**
    */views/apis/schemas/**
    helium/common/utils/metricutils.py

[report]
fail_under = 90
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    if settings.DEBUG
    if settings.DISABLE_EMAILS
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[html]
title = Helium Platform Coverage Report