django==4.2.9
django-dotenv==1.4.2
django-debug-toolbar==4.3.0
django-storages==1.14.2
djangorestframework==3.14.0
django-filter==24.1
django-maintenance-mode==0.21.1
django-pipeline==3.0.0
django-cors-headers==4.3.1
django-redis==5.4.0
coreapi==2.3.3
celery[redis]==5.3.6
statsd==4.0.1
mysqlclient==2.2.4
datadog==0.49.0
boto3==1.34.65
twilio==9.0.2
pyOpenSSL==24.1.0
Pillow==10.2.0
icalendar==5.0.11
pytz==2024.1
python-dateutil==2.9.0.post0
psutil==5.9.8
rollbar==1.0.0
aws-secretsmanager-caching==1.1.1.5
-e git+https://github.com/alexdlaird/django-health-check.git@4.0.2#egg=django-health-check
