coverage==5.1
codecov==2.0.22
pytz==2020.1
django==2.2.13
django-dotenv==1.4.2
django-debug-toolbar==2.2
django-storages==1.9.1
djangorestframework==3.11.0
django-filter==2.3.0
django-maintenance-mode==0.14.0
django-pipeline==2.0.4
django-cors-headers==3.3.0
celery[redis]==4.4.5
django-redis==4.12.1
statsd==3.3.0
datadog==0.36.0
boto==2.49.0
twilio==6.42.0
pyOpenSSL==19.1.0
Pillow==7.1.2
icalendar==4.0.6
python-dateutil==2.8.1
mock==3.0.5
mysqlclient==1.4.6
coreapi==2.3.3
Pygments==2.2.0
Markdown==3.2.2
Sphinx==3.1.1
psutil==5.7.0
rollbar==0.15.0
-e git+git://github.com/alexdlaird/django-health-check.git@alaird-3.5.6#egg=django-health-check
pyngrok==4.0.1
