{% load staticfiles %}
{% load pipeline %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{% static 'touch-icon.png' %}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'touch-icon-57x57.png' %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'touch-icon-114x114.png' %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'touch-icon-72x72.png' %}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'touch-icon-144x144.png' %}"/>

    <title>Helium API | Service Unavailable</title>

    {% stylesheet 'error' %}
</head>

<body>
<div class="conatiner"><span class="numer">5</span>
    <div class="circle">
        <div class="drops"></div>
        <div class="drops"></div>
        <div class="hand"></div>
        <div class="hand rgt"></div>
        <div class="holder">
            <div class="bob">
                <div class="nose"></div>
                <div class="face">
                    <div class="mouth">
                        <div class="tongue"></div>
                    </div>
                </div>
                <div class="ear"></div>
                <div class="ear rgt"></div>
                <div class="neck"></div>
            </div>
        </div>
    </div>
    <span class="numer">3</span>
</div>
</body>
</html>
