{% load staticfiles %}
{% load pipeline %}
{% load helpers %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="application-name" content="{{ PROJECT_NAME }}"/>
    <meta name="version" content="{{ PROJECT_VERSION }}"/>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{% static 'touch-icon.png' %}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'touch-icon-57x57.png' %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'touch-icon-114x114.png' %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'touch-icon-72x72.png' %}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'touch-icon-144x144.png' %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{{ PROJECT_NAME }}{% endblock %}</title>

    <!-- Meta data for SEO -->
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
    <meta name="description"
          content="Helium is an online student planner that lets you organize and color-coordinate your schedule and schoolwork, capture details about every assignment, and plan your study time efficiently."/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{% static 'img/logo_square.png' %}">

    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ PROJECT_NAME }} | {{ PROJECT_TAGLINE }}"/>
    <meta property="og:description"
          content="Helium is an online student planner that lets you organize and color-coordinate your schedule and schoolwork, capture details about every assignment, and plan your study time efficiently."/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="article:publisher" content="https://www.facebook.com/heliumstudents"/>
    <meta property="og:image" content="{% static 'img/logo_facebook.png' %}"/>
    {% block page_meta_extra %}{% endblock %}

    <!-- CDN dependencies -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>

    {% block page_header_css %}
    {% stylesheet 'base' %}
    {% endblock %}

    <!--[if lte IE 8]>
    {% stylesheet 'base_ie8' %}
    <![endif]-->

    {% stylesheet 'base_header_js' %}

    <!--[if lt IE 9]>
    {% stylesheet 'base_ie9_js' %}
    <![endif]-->

    {% block page_header %}{% endblock %}

    {% include "snippets/googleanalytics-js.html" %}
</head>

<body class="{% block body_class_attrs %}{% endblock %}">
<div class="full-container" id="full-container">
    <div class="navbar navbar-default navbar-fixed-top hidden-print {% block navbar_classes %}{% endblock %}"
         id="navbar">

        <nav class="navbar-container" id="navbar-container" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand">
                    <img src="{% static 'img/logo.png' %}" alt="Logo"/>
                    <span id="version-badge" class="to-hide badge badge-yellow"><small>{{ PROJECT_VERSION }}
                    </small></span>
                </a>
            </div>

            <div class="collapse navbar-collapse">
                {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="{% active request '/planner/calendar' %}">
                        <a href="{% url 'calendar' %}">
                            <i class="icon-calendar"></i>
                            Calendar
                        </a>
                    </li>
                    <li class="{% active request '/planner/classes' %}">
                        <a href="{% url 'classes' %}">
                            <i class="icon-book"></i>
                            Classes
                        </a>
                    </li>
                    <li class="{% active request '/planner/materials' %}">
                        <a href="{% url 'materials' %}">
                            <i class="icon-briefcase"></i>
                            Materials
                        </a>
                    </li>
                    <li class="{% active request '/planner/grades' %}">
                        <a href="{% url 'grades' %}">
                            <i class="icon-bar-chart"></i>
                            Grades
                        </a>
                    </li>
                </ul>
                {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                    <li class="green hidden-xs">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-bell-alt"></i>
                            <span id="reminder-bell-alt-count" class="badge badge-success">{% if REMINDERS_COUNT %}
                                {{ REMINDERS_COUNT }}{% endif %}</span>
                        </a>

                        <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="icon-bell"></i>
                                <span id="reminder-bell-count">{% if REMINDERS_COUNT %}{{ REMINDERS_COUNT }}{% else %}
                                    0{% endif %}</span> Reminders
                            </li>

                            {{ reminders|safe }}

                            <li></li>
                        </ul>
                    </li>
                    <li class="{% active request '/settings' %} dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-tasks"></i>
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'settings' %}">
                                    <i class="icon-cog"></i>
                                    Settings
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'logout' %}">
                                    <i class="icon-signout"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="{% active request '/register' %}">
                        <a href="{% url 'register' %}">
                            <i class="icon-user"></i>
                            Register
                        </a>
                    </li>
                    <li class="{% active request '/login' %}">
                        <a href="{% url 'login' %}">
                            <i class="icon-signin"></i>
                            Login
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    {% block content %}{% endblock %}

    <footer class="hidden-print {% block footer_classes %}{% endblock %}">
        <div class="container">
            <div class="row social-footer">
                <div class="pull-right">
                    <a href="http://www.twitter.com/heliumstudents" style="color: #ffffff;" target="_blank">
                        <img src="{% static 'img/twitter.png' %}" alt="Twitter" width="38" height="38" class="inline"/>
                    </a>
                    <a href="http://www.facebook.com/heliumstudents" style="color: #ffffff;" target="_blank">
                        <img src="{% static 'img/facebook.png' %}" alt="Facebook" width="38" height="38"
                             class="inline"/>
                    </a>
                    <a href="http://blog.heliumedu.com" style="color: #ffffff;" target="_blank">
                        <img src="{% static 'img/tumblr.png' %}" alt="Blog" width="38" height="38" class="inline"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <span>Copyright &copy; {% now "Y" %} Helium Edu</span>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Tour</a></li>
                    <li><a href="{% url 'terms' %}">Terms</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy</a></li>
                    <li><a href="{% url 'support' %}">Support</a></li>
                    <li><a href="{% url 'press' %}">Press</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</div>

<!-- CDN dependencies -->
<script type="application/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="application/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="application/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

{% javascript 'base' %}

<script type="application/javascript">
    $(window).load(function () {
        "use strict";

        $("#version-badge").fadeIn("fast");
    });
</script>
{% block page_footer %}{% endblock %}
{% block user_voice_footer %}
{% include "snippets/uservoice-js.html" %}
{% endblock %}

</body>
</html>