{% load staticfiles %}
{% load pipeline %}
{% load helpers %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="application-name" content="{{ PROJECT_NAME }}"/>
    <meta name="author" content="{{ PROJECT_NAME }}"/>
    <meta name="version" content="{{ PROJECT_VERSION }}"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <title>{% block title %}{{ PROJECT_NAME }}{% endblock %}</title>

    <!-- Meta data for SEO -->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
</head>
<body>

<!-- Main Content -->
{% block content %}{% endblock %}
<!-- End Main Content -->

{% javascript 'base' %}

{% block page_footer %}{% endblock %}

</body>
</html>