{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ PROJECT_NAME }} | Contact{% endblock %}

{% block body_class_attrs %}navbar-fixed{% endblock %}

{% block content %}
<div class="main-container" id="main-container">
    <div class="container">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Contact
                    <small>
                        <i class="icon-double-angle-right"></i>
                        &nbsp;we'd love to hear from you
                    </small>
                </h1>
            </div>

            <div class="row">
                <div class="col-sm-9">
                    <div data-uv-embed="contact" data-uv-screenshot_enabled="false"></div>
                </div>

                {% include 'snippets/connectsidebar.html' with hide_contact_section=True %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_footer %}
<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function () {
    var uv = document.createElement('script');
    uv.type = 'text/javascript';
    uv.async = true;
    uv.src = '//widget.uservoice.com/w7OD33G1CR78e0pGaGfw.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(uv, s);
})()</script>
{% endblock %}

{% block user_voice_footer %}{% endblock %}