{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ PROJECT_NAME }} | Press{% endblock %}

{% block body_class_attrs %}navbar-fixed{% endblock %}

{% block content %}
<div class="main-container" id="main-container">
    <div class="container">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Press
                    <small>
                        <i class="icon-double-angle-right"></i>
                        &nbsp;content for press releases
                    </small>
                </h1>
            </div>

            <div class="row">
                <div class="col-sm-9">
                    <img src="{% static 'img/logo_full_white.png' %}"
                    style="width: 80%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;"/>

                    <p>
                        The content below is freely available for use in advertising, press releases, and to
                        help spread the word about Helium! If you have questions, <a href="https://www.facebook.com/heliumstudents" target="_blank">find us on Facebook</a>, <a href="https://www.twitter.com/heliumstudents" target="_blank">stalk us on Twitter</a>, or just
                        <a href="mailto:{{ PROJECT_EMAIL }}">get in touch via email</a>!</p>

                    <h3>Logos and Images</h3>

                    <div class="row">
                        <div class="col-sm-4"><a href="{% static 'img/logo_square.png' %}" target="_blank"><img
                                src="{% static 'img/logo_square.png' %}" class="thumbnail"
                            style="max-width: 200px"/></a></div>
                        <div class="col-sm-4"><a href="{% static 'img/logo_square_blue.png' %}" target="_blank"><img
                                src="{% static 'img/logo_square_blue.png' %}" class="thumbnail"
                            style="max-width: 200px"/></a></div>
                        <div class="col-sm-4"><a href="{% static 'img/logo_full_white.png' %}" target="_blank"><img
                                src="{% static 'img/logo_full_white.png' %}" class="thumbnail"
                            style="max-width: 200px"/></a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><a href="{% static 'img/logo_full_blue.png' %}" target="_blank"><img
                                src="{% static 'img/logo_full_blue.png' %}" class="thumbnail"
                            style="max-width: 200px"/></a></div>
                        <div class="col-sm-4"><a href="{% static 'img/email_logo.png' %}" target="_blank"><img
                                src="{% static 'img/email_logo.png' %}" class="thumbnail" style="max-width: 200px"/></a>
                        </div>
                        <div class="col-sm-4"><a href="{% static 'img/logo.png' %}" target="_blank"><img
                                src="{% static 'img/logo.png' %}" class="thumbnail"
                            style="max-width: 200px; background: #438EB9;"/></a></div>
                    </div>

                    <h3>Screenshots</h3>

                    <div class="row">
                        <div class="col-sm-4"><a href="{% static 'img/slider_2.png' %}" target="_blank"><img
                                src="{% static 'img/slider_2.png' %}" class="thumbnail"
                            style="max-width: 200px"/></a></div>
                        <div class="col-sm-4"><a href="{% static 'img/slider_3.png' %}" target="_blank"><img
                                src="{% static 'img/slider_3.png' %}" class="thumbnail"
                            style="max-width: 200px"/></a>
                        </div>
                        <div class="col-sm-4"><a href="{% static 'img/slider_4.png' %}" target="_blank"><img
                                src="{% static 'img/slider_4.png' %}" class="thumbnail"
                            style="max-width: 200px; background: #438EB9;"/></a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><a href="{% static 'img/slider_5.png' %}" target="_blank"><img
                                src="{% static 'img/slider_5.png' %}" class="thumbnail"
                            style="max-width: 200px"/></a></div>
                        <div class="col-sm-4"><a href="{% static 'img/filter_view.png' %}" target="_blank"><img
                                src="{% static 'img/filter_view.png' %}" class="thumbnail"
                            style="max-width: 200px"/></a>
                        </div>
                        <div class="col-sm-4"><a href="{% static 'img/feature_4.png' %}" target="_blank"><img
                                src="{% static 'img/feature_4.png' %}" class="thumbnail"
                            style="max-width: 200px; background: #438EB9;"/></a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><a href="{% static 'img/materials.png' %}" target="_blank"><img
                                src="{% static 'img/materials.png' %}" class="thumbnail"
                            style="max-width: 200px"/></a></div>
                        <div class="col-sm-4"><a href="{% static 'img/grades_1.png' %}" target="_blank"><img
                                src="{% static 'img/grades_1.png' %}" class="thumbnail"
                            style="max-width: 200px"/></a>
                        </div>
                        <div class="col-sm-4"><a href="{% static 'img/grades_2.png' %}" target="_blank"><img
                                src="{% static 'img/grades_2.png' %}" class="thumbnail"
                            style="max-width: 200px; background: #438EB9;"/></a></div>
                    </div>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <h3 class="lighter smaller">Connect with Us</h3>

                    <div class="infobox infobox-blue">
                        <div class="infobox-icon">
                            <i class="icon-envelope"></i>
                        </div>

                        <div class="infobox-data">
                            <a class="infobox-data-number" href="{% url 'contact' %}">Send us</a>

                            <div class="infobox-content">Feedback</div>
                        </div>
                    </div>

                    <div class="infobox infobox-blue">
                        <div class="infobox-icon">
                            <i class="icon-rss"></i>
                        </div>

                        <div class="infobox-data">
                            <a class="infobox-data-number" href="http://blog.heliumedu.com"
                               target="_blank">Read our</a>

                            <div class="infobox-content">Blog</div>
                        </div>
                    </div>

                    <div class="infobox infobox-blue">
                        <div class="infobox-icon">
                            <i class="icon-twitter"></i>
                        </div>

                        <div class="infobox-data">
                            <a class="infobox-data-number" href="https://www.twitter.com/heliumstudents"
                               target="_blank">Follow us on</a>

                            <div class="infobox-content">Twitter</div>
                        </div>
                    </div>

                    <div class="infobox infobox-blue">
                        <div class="infobox-icon">
                            <i class="icon-facebook"></i>
                        </div>

                        <div class="infobox-data">
                            <a class="infobox-data-number" href="https://www.facebook.com/heliumstudents"
                               target="_blank">Like us on</a>

                            <div class="infobox-content">Facebook</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}