<div class="col-sm-3">
    <h3 class="lighter smaller">Connect with Us</h3>

    {% if not hide_contact_section %}
    <div class="infobox infobox-blue">
        <div class="infobox-icon">
            <i class="icon-envelope"></i>
        </div>

        <div class="infobox-data">
            <a class="infobox-data-number" href="{% url 'contact' %}">Send us</a>

            <div class="infobox-content">Feedback</div>
        </div>
    </div>
    {% endif %}

    <div class="infobox infobox-blue">
        <div class="infobox-icon">
            <i class="icon-rss"></i>
        </div>

        <div class="infobox-data">
            <a class="infobox-data-number" href="http://blog.heliumedu.com"
               target="_blank">Read our</a>

            <div class="infobox-content">Blog</div>
        </div>
    </div>

    <div class="infobox infobox-blue">
        <div class="infobox-icon">
            <i class="icon-twitter"></i>
        </div>

        <div class="infobox-data">
            <a class="infobox-data-number" href="https://www.twitter.com/heliumstudents"
               target="_blank">Follow us on</a>

            <div class="infobox-content">Twitter</div>
        </div>
    </div>

    <div class="infobox infobox-blue">
        <div class="infobox-icon">
            <i class="icon-facebook"></i>
        </div>

        <div class="infobox-data">
            <a class="infobox-data-number" href="https://www.facebook.com/heliumstudents"
               target="_blank">Like us on</a>

            <div class="infobox-content">Facebook</div>
        </div>
    </div>
</div>