<script type="application/javascript">
    (function () {
        "use strict";

        helium.USER_PREFS.id = {{ request.user.id | safe }};
        helium.USER_PREFS.default_view = {{ request.user.default_view }};
        helium.USER_PREFS.week_starts_on = {{ request.user.week_starts_on }};
        helium.USER_PREFS.all_day_offset = "{{ request.user.all_day_offset }}"
        helium.USER_PREFS.show_getting_started = "{{ request.user.show_getting_started }}";
        helium.USER_PREFS.default_reminder_offset = "{{ request.user.default_reminder_offset }}";
        helium.USER_PREFS.default_reminder_offset_type = "{{ request.user.default_reminder_offset_type }}";
        helium.USER_PREFS.default_reminder_type = "{{ request.user.default_reminder_type }}";
    }());
</script>