{% extends "base.html" %}
{% load staticfiles %}
{% load pipeline %}

{% block title %}{{ PROJECT_NAME }} | Settings{% endblock %}

{% block body_class_attrs %}navbar-fixed{% endblock %}

{% block page_header_css %}
    {% stylesheet 'settings_pre' %}
{% endblock %}

{% block page_header %}
    {% stylesheet 'settings' %}
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Settings
                        <small>
                            <i class="icon-double-angle-right"></i>
                            &nbsp;identify your tastes
                        </small>
                    </h1>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs padding-18 tab-size-bigger" id="settings-tabs">
                                <li class="col-xs-12 col-sm-reset{% if not settings_tab or settings_tab == '#settings-tab-preferences' %} active{% endif %}">
                                    <a data-toggle="tab" href="#settings-tab-preferences">
                                        <i class="blue icon-edit bigger-120 hidden-xs"></i>
                                        Preferences
                                    </a>
                                </li>

                                <li class="col-xs-12 col-sm-reset{% if settings_tab == '#settings-tab-personal' %} active{% endif %}">
                                    <a data-toggle="tab" href="#settings-tab-personal">
                                        <i class="green icon-user bigger-120 hidden-xs"></i>
                                        Personal Info
                                    </a>
                                </li>

                                <li class="col-xs-12 col-sm-reset{% if settings_tab == '#settings-tab-account' %} active{% endif %}">
                                    <a data-toggle="tab" href="#settings-tab-account">
                                        <i class="orange icon-cog bigger-120 hidden-xs"></i>
                                        Account
                                    </a>
                                </li>

                                <li class="col-xs-12 col-sm-reset{% if settings_tab == '#settings-tab-feed' %} active{% endif %}">
                                    <a data-toggle="tab" href="#settings-tab-feed">
                                        <i class="red icon-rss bigger-120 hidden-xs"></i>
                                        Feed
                                    </a>
                                </li>

                                <li class="col-xs-12 col-sm-reset{% if settings_tab == '#settings-tab-importexport' %} active{% endif %}">
                                    <a data-toggle="tab" href="#settings-tab-importexport">
                                        <i class="pink icon-exchange bigger-120 hidden-xs"></i>
                                        Import/Export
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content no-border padding-24">
                                {% include 'settings/snippets/preferencestab.html' %}

                                {% include 'settings/snippets/personaltab.html' %}

                                {% include 'settings/snippets/accounttab.html' %}

                                {% include 'settings/snippets/feedtab.html' %}

                                {% include 'settings/snippets/importexporttab.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    {% javascript 'settings' %}
{% endblock %}