{% extends "email/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block greeting %}Hey!{% endblock %}

{% block content %}
    <tr>
        <td style="padding: 20px 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
            You've been successfully registered for Helium.
            <a href="{{ login_url }}" target="_blank">Click here</a> to login and get started.
        </td>
    </tr>
    <tr>
        <td style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
            Forget the physical planner, notebook, and colorful pencils.
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" width="100%"
                   style="padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #cccccc;">
                <tr>
                    <td width="260">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    <img src="{% static 'img/email_welcome_left.png' %}" alt=""
                                         width="100%" height="140" style="display: block;"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    Don't worry about trying to remember every homework
                                    assignment, project, or test&#8212;use that brainpower to
                                    ace your classes and let Helium whip your schedule into
                                    shape! Easily organize and color-coordinate your
                                    schedule and schoolwork, capture details about every
                                    assignment, and plan your study schedule. Keep track of
                                    the details of your class, put together your necessary
                                    supplies, and catalog things like teacher
                                    contact info and class location.
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="font-size: 0; line-height: 0;" width="20">
                        &nbsp;
                    </td>
                    <td width="260">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    <img src="{% static 'img/email_welcome_right.png' %}" alt=""
                                         width="100%" height="140" style="display: block;"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    Tired of always wondering how you're doing in a class?
                                    Frustrated by trying to calculate your own grades?
                                    Record grades as you get them, and Helium takes care of
                                    the rest! A full workup of your progress is always just
                                    a click away, with constantly up-to-date details about
                                    your grades in every class, a breakdown of your
                                    progression through the term, and insight into which
                                    classes you're acing and what could use improvement.
                                    We'll crunch the numbers for you!
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}