{% extends "email/base.html" %}
{% load staticfiles %}

{% block greeting %}Hey!{% endblock %}

{% block content %}
<tr>
    <td style="padding: 20px 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
        You're almost there. <a href="{{ site_url }}/verify?username={{ username }}&code={{ verification_code }}"
                                target="_blank">Click here</a> to verify this email address with your Helium account, or
        paste the link below into your browser.
        <br/><br/>
        <a href="{{ site_url }}/verify?username={{ username }}&code={{ verification_code }}"
           target="_blank">{{ site_url }}/verify?username={{ username }}&code={{ verification_code }}</a>
    </td>
</tr>
{% endblock %}