{% extends "email/base.html" %}
{% load static %}
{% load l10n %}

{% block greeting %}Hey!{% endblock %}

{% block content %}
    <tr>
        <td style="padding: 20px 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
            You're almost there. Your verification code is: <strong>{{ verification_code|unlocalize }}</strong>

            <br/><br/><a href="{{ verify_url }}?username={{ username }}&code={{ verification_code|unlocalize }}"
                                    target="_blank">Click here</a> to verify this email address with Helium.
        </td>
    </tr>
{% endblock %}