{% load staticfiles %}

<div id="settings-tab-feed"
     class="tab-pane fade{% if settings_tab == '#settings-tab-feed' %} in active{% endif %}">
    <h4 class="red page-header">
        <i class="icon-exchange bigger-110"></i>
        Feed
    </h4>

    {% include 'snippets/status.html' with status_id_suffix='_feed' %}

    <div class="space-8"></div>

    <form class="form-horizontal" id="feed-form" role="form">{% csrf_token %}
        <div class="form-group">
            <label class="block clearfix bottom-buffer-10">
                <h4>Feed URLs</h4>
                <span id="private-feed-urls"></span>
            </label>
        </div>

        <hr/>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                Private feeds are URLs are references to ICAL streams that can be provided to external calendars. For
                instance, if you use one of the above enabled ICAL URLs in Google Calendar, your Helium schedule will
                show up alongside your Google schedule.
                <br/><br/>
                Be sure to keep private URLs a secret. If a private URL becomes compromised, disable and reenable
                private URLs to generate new ones.
            </div>
            <div class="col-sm-2"></div>
        </div>

        <hr/>

        <div class="form-group pull-right">
            <div id="feed-loading" class="loading-mini">
                <div id="loading-feed"></div>
            </div>
            <button id="enable-disable-feed" type="button" class="btn btn-success btn-xs">
                <i class="icon-check"></i>
                Enable Private Feeds
            </button>
        </div>
    </form>
</div>