{% load staticfiles %}

<div id="settings-tab-importexport"
     class="tab-pane fade{% if settings_tab == '#settings-tab-importexport' %} in active{% endif %}">
    <h4 class="pink page-header">
        <i class="icon-exchange bigger-110"></i>
        Import/Export
    </h4>

    {% include 'snippets/status.html' with status_id_suffix='_importexport' %}

    <div class="space-8"></div>

    <form class="form-horizontal" id="importexport-form" role="form">{% csrf_token %}
        <p>Import a Helium JSON backup file.</p>

        <div class="form-group">
            <label class="block clearfix bottom-buffer-10">
                <div class="col-sm-12 bottom-buffer-10">
                    <input id="id_file" name="file[]" type="file">
                </div>
                <div class="col-sm-12 bottom-buffer-10">
                    <button type="submit" id="import-button" class="btn btn-primary btn-sm">
                        <i class="icon-upload"></i>
                        Import
                    </button>
                </div>
            </label>
        </div>

        <hr/>

        <p>Export all data (excluding attachments) to a Helium JSON backup file.</p>

        <div class="form-group">
            <div class="col-sm-12 bottom-buffer-10">
                <a target="_blank" download href="{% url 'importexport_export' %}" id="export-button"
                   class="btn btn-primary btn-sm">
                    <i class="icon-download"></i>
                    Export
                </a>
            </div>
            <div class="col-sm-1"></div>
            <div id="export-status-div"
                 class="col-sm-10 alert alert-info to-hide">Your download will begin shortly.
            </div>
            <div class="col-sm-1"></div>
        </div>

        <hr/>

        <div class="form-group pull-right">
            <div id="importexport-loading" class="loading-mini">
                <div id="loading-importexport"></div>
            </div>
        </div>
    </form>
</div>