<div id="settings-tab-personal"
     class="tab-pane fade{% if settings_tab == '#settings-tab-personal' %} in active{% endif %}">
    <h4 class="green page-header">
        <i class="green icon-user bigger-110"></i>
        Personal Info
    </h4>

    {% include 'snippets/status.html' with status_id_suffix='_personal' %}

    <div class="space-8"></div>

    <form class="form-horizontal" id="personal-form" role="form">{% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_phone">Phone</label>

            <div class="col-sm-3">
                <div class="input-group no-padding">
                        <span class="input-group-addon">
                            <i class="icon-phone"></i>
                        </span>

                    <input class="form-control phone" id="id_phone" maxlength="15" name="phone" type="text">
                </div>
            </div>

            <div class="col-sm-4 has-error help-block">
                {% include 'snippets/status.html' with status_id_suffix='_phone' use_span=True %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-5" id="id_phone_verification_status"></div>
            <div class="col-sm-5"></div>
        </div>

        <div id="phone_verification_row" class="row" style="display: none">
            <label class="col-sm-2 control-label" for="id_phone_verification_code">Verification code</label>

            <div class="col-sm-3">
                <input class="form-control" type="text"
                       placeholder="Enter phone verification code"
                       id="id_phone_verification_code"
                       name="phone_verification_code"/></div>
        </div>

        <div class="form-group pull-right">
            <div id="personal-loading" class="loading-mini">
                <div id="loading-personal"></div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="icon-check"></i>
                Save
            </button>
        </div>
    </form>
</div>