<div id="settings-tab-personal"
     class="tab-pane fade{% if settings_tab == '#settings-tab-personal' %} in active{% endif %}">
    <h4 class="green page-header">
        <i class="green icon-user bigger-110"></i>
        Personal Info
    </h4>

    {% include 'snippets/status.html' with status_div_suffix='_personal' %}

    <div class="space-8"></div>

    <form class="form-horizontal" role="form" method="post">{% csrf_token %}
        <input type="hidden" name="post-tab" value="personal_info">

        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_phone">Phone</label>

            <div class="col-sm-3">
                <div class="input-group no-padding">
                        <span class="input-group-addon">
                            <i class="icon-phone"></i>
                        </span>

                    <input class="form-control phone" id="id_phone" maxlength="15" name="phone" type="text">
                </div>
            </div>

            <label class="col-sm-1 control-label" for="id_phone_carrier">Carrier</label>

            <div class="col-sm-2">
                <select class="form-control chosen-select" id="id_phone_carrier" name="phone_carrier"
                        style="display: none;">
                    <option value="">---------</option>
                    <option value="txt.att.net">AT&amp;T</option>
                    <option value="cingularme.com">AT&amp;T Mobility (Cingular)</option>
                    <option value="message.alltel.com">Alltel</option>
                    <option value="txt.bellmobility.ca">Bell Canada</option>
                    <option value="myboostmobile.com">Boost Mobile</option>
                    <option value="mobile.celloneusa.com">Cellular One</option>
                    <option value="clarotorpedo.com.br">Claro</option>
                    <option value="sms.mycricket.com">Cricket</option>
                    <option value="fido.ca">Fido</option>
                    <option value="mymetropcs.com">Metro PCS</option>
                    <option value="clearlydigital.com">Midwest Wireless</option>
                    <option value="correo.movistar.net">Movistar</option>
                    <option value="orange.net">Orange</option>
                    <option value="orange.pl">Orange Polska (Poland)</option>
                    <option value="text.plusgsm.pl">Plus Poland</option>
                    <option value="messaging.nextel.com">Sprint (Nextel)</option>
                    <option value="messaging.sprintpcs.com">Sprint (PCS)</option>
                    <option value="tmomail.net">T-Mobile</option>
                    <option value="sms.t-mobile.at">T-Mobile Austria</option>
                    <option value="t-d1-sms.de">T-Mobile Germany</option>
                    <option value="t-mobile.uk.net">T-Mobile UK</option>
                    <option value="movistar.net">Telefonica Movistar</option>
                    <option value="timnet.com">TIM</option>
                    <option value="utext.com">Unicel</option>
                    <option value="email.uscc.com">US Cellular</option>
                    <option value="uswestdatamail.com">US West</option>
                    <option value="vtext.com">Verizon</option>
                    <option value="vmobl.com">Virgin Mobile</option>
                    <option value="vmobile.ca">Virgin Mobile Canada</option>
                    <option value="torpedoemail.com.br">Vivo</option>
                    <option value="sms.vodafone.it">Vodafone Italy</option>
                    <option value="c.vodafone.ne.jp">Vodafone Japan</option>
                    <option value="vodafone.net">Vodafone UK</option>
                    <option value="cellularonewest.com">Western Wireless</option>
                </select>
            </div>

            <div class="col-sm-4 has-error help-block">
                {% include 'snippets/status.html' with status_div_suffix='_phone' %}
            </div>
        </div>

        <div class="row">
            <label class="col-sm-2 control-label" for="id_phone_verification_code">Verification code</label>

            <div class="col-sm-3">
                <input class="form-control" type="text"
                       placeholder="Enter phone verification code"
                       id="id_phone_verification_code"
                       name="phone_verification_code"/></div>
            <div class="col-xs-12 col-md-7">
                Don't see your carrier? <a href="{% url 'contact' %}">Contact us</a> the
                name of your provider and we'll try to get it added to the list.
                <br/>
                <small><em>Note:</em> When using text reminders, standard messaging rates may apply.</small>
            </div>
        </div>

        <hr/>

        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="icon-check"></i>
                Save
            </button>
        </div>
    </form>
</div>