{% extends "base.html" %}
{% load staticfiles %}
{% load pipeline %}

{% block title %}{{ PROJECT_NAME }} | Grades{% endblock %}

{% block body_class_attrs %}navbar-fixed{% endblock %}

{% block page_header_css %}
    {% stylesheet 'grades_pre' %}
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Grades
                        <small class="hidden-print">
                            <i class="icon-double-angle-right"></i>
                            &nbsp;keep track of your progress
                            <div id="grades-loading" class="loading-mini" style="padding-left: 25px;">
                                <div id="loading-grades"></div>
                            </div>
                        </small>
                    </h1>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable tabs-left">
                            <ul class="nav nav-tabs hidden-print hidden-xs" id="course-group-tabs">
                            </ul>

                            <div class="tab-content" id="course-group-tab-content" style="overflow: hidden;">
                                <div class="tab-content" id="course-group-tab-content">
                                    <div id="no-grades-tab" class="tab-pane">
                                        <div class="helper-container">
                                            <div class="well">
                                                <h1 class="grey lighter smaller">
                                                    <img src="{% static 'img/logo_square.png' %}" width="50" height="50"
                                                         class="logo-icon"/>
                                                    Add Your Classes to Get Started
                                                </h1>

                                                <hr>
                                                <h3 class="lighter smaller">We can't calculate any grades for you if you
                                                    don't have any classes. Head on over to <a
                                                            href="{% url 'classes' %}">the
                                                        Classes page</a> to get started!</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    {% javascript 'grades' %}
{% endblock %}