{% extends "base.html" %}

{% block title %}{{ PROJECT_NAME }} | Login{% endblock %}

{% block body_class_attrs %}navbar-fixed{% endblock %}

{% block content %}
<div class="main-container">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="well">
                            <h4 class="header blue lighter bigger">
                                <i class="icon-key blue"></i>
                                Enter Your Login Information
                            </h4>

                            <div class="space-6"></div>

                            {% include 'snippets/status.html' %}

                            <form action="{{ request.get_full_path }}" method="post">{% csrf_token %}
                                <fieldset>
                                    <label class="block clearfix">
                                        <div class="input-group no-padding">
                                                <span class="input-group-addon">
                                                    <i class="icon-user"></i>
                                                </span>

                                            <input type="text" class="form-control" name="username" id="username"
                                                   placeholder="Username" maxlength="255" required/>
                                        </div>
                                    </label>

                                    <label class="block clearfix">
                                        <div class="input-group no-padding">
                                                <span class="input-group-addon">
                                                    <i class="icon-lock"></i>
                                                </span>

                                            <input type="password" class="form-control" name="password"
                                                   id="password" placeholder="Password"
                                            maxlength="255" required/>
                                        </div>
                                    </label>

                                    <div class="space"></div>

                                    <div class="clearfix">
                                        <label class="inline">
                                            <input type="checkbox" name="remember-me" id="remember-me"
                                                   class="ace"/>
                                            <span class="lbl">Stay signed in</span>
                                        </label>

                                        <button type="submit"
                                                class="width-35 pull-right btn btn-sm btn-primary">
                                            Sign in
                                            <i class="icon-signin icon-on-right"></i>
                                        </button>
                                    </div>

                                    <div class="space-4"></div>
                                </fieldset>
                            </form>

                            <div class="clearfix">
                                <a href="{% url 'register' %}">
                                    Need an account?
                                </a>
                                <a href="{% url 'forgot' %}" class="pull-right">
                                    Forgot your password?
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_footer %}
<script type="application/javascript">
    (function () {
        "use strict";

        $("#username").focus();
    }());
</script>
{% endblock %}