{% extends "base.html" %}
{% load staticfiles %}
{% load pipeline %}

{% block title %}{{ PROJECT_NAME }} | Classes{% endblock %}

{% block body_class_attrs %}navbar-fixed{% endblock %}

{% block page_header_css %}
    {% stylesheet 'classes_pre' %}
{% endblock %}

{% block page_header %}
    {% stylesheet 'classes' %}
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Classes
                        <small class="hidden-print">
                            <i class="icon-double-angle-right"></i>
                            &nbsp;view and edit your class schedule
                            <div id="courses-loading" class="loading-mini" style="padding-left: 25px;">
                                <div id="loading-courses"></div>
                            </div>
                        </small>
                    </h1>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="tabbable tabs-left">
                            <ul class="nav nav-tabs hidden-print hidden-xs" id="course-group-tabs">
                                <li id="create-course-group-li" class="hidden-xs">
                                    <a href="#" id="create-course-group" class="green">
                                        <i class="icon-plus-sign-alt green bigger-110"></i>
                                        Group
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content" id="course-group-tab-content">
                                <div id="no-classes-tab" class="tab-pane">
                                    <div class="helper-container">
                                        <div class="well">
                                            <h1 class="grey lighter smaller">
                                                <img src="{% static 'img/logo_square.png' %}" width="50" height="50"
                                                     class="logo-icon"/>
                                                Add Your Classes to Get Started
                                            </h1>

                                            <hr>
                                            <h3 class="lighter smaller">You haven't created any classes yet! No big deal. Click anywhere in this box to create your first class!</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="course-group-modal" tabindex="-1" role="dialog"
                 aria-labelledby="course-group-modal-label"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="course-group-modal-label">Add Group</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"
                                           for="course-group-title">Title</label>

                                    <div class="col-sm-7">
                                        <input id="course-group-title" class="form-control" maxlength="255"
                                               autocomplete="off"
                                               placeholder="Fall Semester 2014" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"
                                           for="course-group-start-date">From</label>

                                    <div class="col-sm-7 input-group">
                                        <input type="text" name="course-group-start-date" id="course-group-start-date"
                                               class="form-control date-picker" data-date-format="M d, yyyy"/>
                                <span class="input-group-addon">
                                    <i class="icon-calendar"></i>
                                </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"
                                           for="course-group-end-date">To</label>

                                    <div class="col-sm-7 input-group">
                                        <input type="text" name="course-group-end-date" id="course-group-end-date"
                                               class="form-control date-picker" data-date-format="M d, yyyy"/>
                                <span class="input-group-addon">
                                    <i class="icon-calendar"></i>
                                </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="left-buffer-70 right-buffer-30">
                                        <input id="course-group-shown-on-calendar" class="ace" type="checkbox"/>
                                        <span class="lbl"> Hide this group, including its classes and content, on the Calendar</span>
                                    </label>
                                </div>
                                <div class="row to-hide">
                                    <div id="course-group-error"
                                         class="col-sm-8 col-sm-offset-2 alert alert-danger"></div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div id="course-group-modal-loading" class="loading-mini">
                                <div id="loading-course-group-modal"></div>
                            </div>
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                <i class="icon-remove"></i>
                                Cancel
                            </button>
                            <button id="save-course-group" type="button" class="btn btn-primary btn-sm">
                                <i class="icon-check"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="course-modal" tabindex="-1" role="dialog" aria-labelledby="course-modal-label"
                 aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="course-modal-label">Add Course</h4>
                        </div>
                        <div class="modal-body">
                            <div id="course-details-panel">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs padding-18 tab-size-bigger" id="course-panel-tabs">
                                        <li class="col-xs-12 col-sm-reset active">
                                            <a data-toggle="tab" href="#course-panel-tab-1">
                                                <i class="blue icon-list bigger-120 hidden-xs"></i>
                                                Details
                                            </a>
                                        </li>

                                        <li class="col-xs-12 col-sm-reset">
                                            <a data-toggle="tab" href="#course-panel-tab-2">
                                                <i class="green icon-calendar bigger-120 hidden-xs"></i>
                                                Schedule
                                            </a>
                                        </li>

                                        <li class="col-xs-12 col-sm-reset">
                                            <a data-toggle="tab" href="#course-panel-tab-3">
                                                <i class="red icon-bar-chart bigger-120 hidden-xs"></i>
                                                Categories
                                            </a>
                                        </li>

                                        <li class="col-xs-12 col-sm-reset">
                                            <a data-toggle="tab" href="#course-panel-tab-4">
                                                <i class="orange icon-paperclip bigger-120 hidden-xs"></i>
                                                Attachments
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content no-border padding-24 no-padding-bottom">
                                        <div id="course-panel-tab-1" class="tab-pane fade in active">

                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label"
                                                           for="course-title">Title</label>

                                                    <div class="col-sm-7">
                                                        <input id="course-title" class="form-control" maxlength="255"
                                                               autocomplete="off"
                                                               placeholder="American Sign Language II" type="text"/>
                                                    </div>
                                                </div>
                                                <div class="form-group hidden" id="course-groups-form-group">
                                                    <input id="course-group" type="text"/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label"
                                                           for="course-start-date">From</label>

                                                    <div class="col-sm-7 input-group">
                                                        <input type="text" name="course-start-date"
                                                               id="course-start-date"
                                                               class="form-control date-picker"
                                                               data-date-format="M d, yyyy"/>
                        <span class="input-group-addon">
                            <i class="icon-calendar"></i>
                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label"
                                                           for="course-start-date">To</label>

                                                    <div class="col-sm-7 input-group">
                                                        <input type="text" name="course-end-date" id="course-end-date"
                                                               class="form-control date-picker"
                                                               data-date-format="M d, yyyy"/>
                        <span class="input-group-addon">
                            <i class="icon-calendar"></i>
                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="course-room-form-group">
                                                    <label class="col-sm-3 control-label"
                                                           for="course-room">Room</label>

                                                    <div class="col-sm-7">
                                                        <input id="course-room" class="form-control" autocomplete="off"
                                                               maxlength="255"
                                                               type="text"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label"
                                                           for="course-website">Website</label>

                                                    <div class="col-sm-7">
                                                        <input id="course-website" class="form-control"
                                                               autocomplete="off" maxlength="255"
                                                               type="text"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label"
                                                           for="course-teacher-name">Teacher</label>

                                                    <div class="col-sm-7">
                                                        <input id="course-teacher-name" class="form-control"
                                                               autocomplete="off" maxlength="255"
                                                               type="text"/>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="course-teacher-email-form-group">
                                                    <label class="col-sm-3 control-label"
                                                           for="course-teacher-email">Teacher Email</label>

                                                    <div class="col-sm-7">
                                                        <input id="course-teacher-email" class="form-control"
                                                               autocomplete="off" maxlength="255"
                                                               type="text"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label"
                                                           for="course-credits">Credits</label>

                                                    <div class="col-sm-3">
                                                        <input type="text" id="course-credits" class="spinner"/>
                                                    </div>

                                                    <label class="col-sm-2 col-xs-12 control-label"
                                                           for="id_course_color">Color</label>

                                                    <div class="col-sm-4 col-xs-12">
                                                        {% include 'snippets/colorselect.html' with select_id='course_color' %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-12 col-sm-4">
                                                        <label class="left-buffer-70 hidden-xs"></label>
                                                        <label>
                                                            <input id="course-online" class="ace" type="checkbox"/>
                                                            <span class="lbl"> Online</span>
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2 well well-sm">
                                                        If you you need to customize the
                                                        grading system for this class, click on the "Categories"
                                                        tab.
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div id="course-panel-tab-2" class="tab-pane fade">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="left-buffer-50">
                                                        <input id="course-schedule-has-different-times" class="ace"
                                                               type="checkbox"/>
                                                        <span class="lbl"> This class has different times each day</span>
                                                    </label>
                                                </div>
                                                <div class="form-group text-center">
                                                    <div class="col-sm-12">
                                                        <button id="course-schedule-sun"
                                                                class="btn btn-sm course-schedule-btn"
                                                                data-toggle="button" type="button">Sun
                                                        </button>
                                                        <button id="course-schedule-mon"
                                                                class="btn btn-sm course-schedule-btn"
                                                                data-toggle="button" type="button">Mon
                                                        </button>
                                                        <button id="course-schedule-tue"
                                                                class="btn btn-sm course-schedule-btn"
                                                                data-toggle="button" type="button">Tue
                                                        </button>
                                                        <button id="course-schedule-wed"
                                                                class="btn btn-sm course-schedule-btn"
                                                                data-toggle="button" type="button">Wed
                                                        </button>
                                                        <button id="course-schedule-thu"
                                                                class="btn btn-sm course-schedule-btn"
                                                                data-toggle="button" type="button">Thu
                                                        </button>
                                                        <button id="course-schedule-fri"
                                                                class="btn btn-sm course-schedule-btn"
                                                                data-toggle="button" type="button">Fri
                                                        </button>
                                                        <button id="course-schedule-sat"
                                                                class="btn btn-sm course-schedule-btn"
                                                                data-toggle="button" type="button">Sat
                                                        </button>
                                                    </div>
                                                </div>
                                                <div id="sun-time" class="form-group">
                                                    <label id="sun-time-lbl"
                                                           class="col-sm-3 control-label">Time</label>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-sun-start-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-sun-end-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="mon-time" class="form-group to-hide">
                                                    <label class="col-sm-3 control-label">Monday</label>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-mon-start-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-mon-end-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tue-time" class="form-group to-hide">
                                                    <label class="col-sm-3 control-label">Tuesday</label>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-tue-start-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-tue-end-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="wed-time" class="form-group to-hide">
                                                    <label class="col-sm-3 control-label">Wednesday</label>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-wed-start-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-wed-end-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="thu-time" class="form-group to-hide">
                                                    <label class="col-sm-3 control-label">Thursday</label>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-thu-start-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-thu-end-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="fri-time" class="form-group to-hide">
                                                    <label class="col-sm-3 control-label">Friday</label>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-fri-start-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-fri-end-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sat-time" class="form-group to-hide">
                                                    <label class="col-sm-3 control-label">Saturday</label>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-sat-start-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append bootstrap-timepicker">
                                                            <input id="course-sat-end-time" type="text"
                                                                   class="form-control time-picker"/>
                                            <span class="input-group-addon add-on">
                                                <i class="icon-time bigger-110"></i>
                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="class-days-empty-palette" class="helper-container to-hide">
                                                    <div class="well">Select the days from the list above on which you have this class, then you'll be able to add class times for those days.</div>
                                                </div>
                                            </form>
                                        </div>

                                        <div id="course-panel-tab-3" class="tab-pane fade">
                                            <button class="btn btn-sm btn-primary pull-right bottom-buffer-10"
                                                    id="create-category">
                                                <i class="icon-plus align-top bigger-125"></i>
                                                Category
                                            </button>

                                            <div class="clearfix"></div>

                                            <table id="categories-table"
                                                   class="table table-striped table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th width="40%">Category</th>
                                                    <th width="20%">Weight (%)</th>
                                                    <th width="80px">Color</th>
                                                    <th width="80px" class="hidden-480">Calendar Items</th>
                                                    <th width="40px"></th>
                                                </tr>
                                                </thead>

                                                <tbody id="categories-table-body">
                                                <tr id="no-categories">
                                                    <td colspan="5"
                                                        class="text-center">No categories! Get started by adding a category.</td>
                                                </tr>
                                                <tr id="categories-table-end-placeholder"></tr>
                                                <tr id="total-weights">
                                                    <td class="align-right"></td>
                                                    <td id="categories-total-weights"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div id="course-panel-tab-4" class="tab-pane fade">
                                            <div id="dropzone">
                                                <form action="/api/planner/attachments/" id="dropzone-form"
                                                      class="dropzone" method="POST">
                                                    <div class="fallback">
                                                        <input name="attachment" type="file" multiple=""/>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="space-12"></div>
                                            <table id="attachments-table"
                                                   class="table table-striped table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th width="70%">Name</th>
                                                    <th width="15%">Size</th>
                                                    <th width="40px"></th>
                                                </tr>
                                                </thead>

                                                <tbody id="attachments-table-body">
                                                <tr id="no-attachments">
                                                    <td colspan="4"
                                                        class="text-center">No attachments. Get started by adding dropping an attachment above.</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="row to-hide">
                                        <div id="course-error"
                                             class="col-sm-8 col-sm-offset-2 alert alert-danger"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <div id="course-modal-loading" class="loading-mini">
                                <div id="loading-course-modal"></div>
                            </div>
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                <i class="icon-remove"></i>
                                Cancel
                            </button>
                            <button id="save-course" type="button" class="btn btn-primary btn-sm">
                                <i class="icon-check"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block page_footer %}
    {% javascript 'classes' %}
{% endblock %}