name: "Build"

run-name: "Build"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 9 * * *"

permissions:
  contents: read
  issues: none
  pull-requests: none

jobs:
  build:
    name: Build

    env:
      FORCE_COLOR: 1
      PYTHONUNBUFFERED: 1
      PYTHONDONTWRITEBYTECODE: 1
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      PLATFORM: amd64

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Test platform
        run: make docker-env test
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Test Docker build
        run: |
          make build-docker
          make run-docker
      - name: Publish Docker `latest` artifacts
        if: github.ref_name == 'main'
        run: make publish
      - name: Upload test coverage
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./build/coverage
      - name: Upload test results
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./build/test-results
      - name: Dump Docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2

  deploy-ci:
    name: Deploy CI
    needs: build

    env:
      DEV_ENV_ENABLED: ${{ vars.DEV_ENV_ENABLED || false }}

    runs-on: ubuntu-latest

    steps:
      - name: Trigger deployment to dev
        if: ${{ github.ref_name == 'main' && env.DEV_ENV_ENABLED == 'true' }}
        env:
          GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          gh workflow run deploy.yml \
            --ref main \
            -f version_type=latest \
            -f environment=dev \
            -f run_cluster_tests=true

          echo "Triggered deploy workflow for dev environment with latest containers"
          echo "View workflow runs: https://github.com/${{ github.repository }}/actions/workflows/deploy.yml"